<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block link %} {% endblock %}
    <title>Document</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
        <div class="username">
         Welcome {{ user.username }}
        </div>
        {% else %}
        <div class="username">
            <p>Anonymous User</p>
        </div>
        {% endif %}
        <ul id="navi">
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'listings' %}"><button class="but">Active Listing</button></a></li>
            <li>
                <a href=""><button class="but cat">Categories</button></a>
                <ul id="catty">
                    {% for category in categories %}
                        <li id="categ"><a href="" id="cat-link">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            </li> 
            <li><a href="{% url 'create' %}"><button class="but">Create</button></a></li>
            <li><a href="{% url 'logout' %}"><button class="but">Logout</button></a></li>
            <li><a href="{% url 'watchlist' %}"><img src="{% static 'images/cart.jpg' %}" width="50rem" alt=""></a></li>
        {% else %}
            <li><a href="{% url 'login' %}"><button class="but but-m">Login</button></a></li>
            <li><a href="{% url 'register' %}"><button class="but">Register</button></a></li>
        {% endif %}
        </ul>
    </nav>
    
    <div id="back-g">
        {% block body %}
        {% endblock %}    
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>