{% extends "lay.html" %}
{% load static %}
{% block link %}<link rel="stylesheet" href="{% static 'css/create.css' %}"></link>{% endblock %}


{% block body %}

<div class="bid-item">
    <br>
    {% for watch in watches %}
    <div id="watch-item">
        <div id="watch-image">
            <a href="{% url 'listing' watch.listing.id %}"><img src="{{ watch.listing.image.url}}" alt=""></a>
        </div>
        <div class="watch">Name:
            {{ watch.listing.name}}
        </div>
        <div class="watch">
            Category:
            {{ watch.listing.category }}
        </div>
        {% if watch.listing.sold_out %}
            <div id="red">.</div>
        {% else %}
            <div id="green">.</div>
        {% endif %}
        <a href="{% url 'delete' watch.id %} " id="delete"><button>Delete</button></a>
    </div>
    <br>
    {% endfor %}
</div>

{% endblock%}