
{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>



    <div>
        {% if auction_list %}
        <ul>
            {% for auction in auction_list  %}
                <li><a href="{% url 'active' auction.title %}">{{ auction }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No item e</p>
        {% endif %}
    </div>   
    <br>
    {% if user.is_authenticated %}
    <p>Create active listing<a href="{% url 'create_listing' %}"> here.</a></p>
    {% else %}
    <p>Login or Register an account to create active listings</p>
    {% endif %}
{% endblock %}



